.header {
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  padding: 1.6rem 3.2rem;
  border-bottom: 2px solid var(--color-green);
}

.title {
  font-size: 3.2rem;
  color: var(--color-green);
}
