.header {
  display: flex;
  align-items: center;
  background-color: var(--color-black);
  padding: 2.4rem 3.2rem;
  grid-column: 1 / span 2;
  border-bottom: 2px solid var(--color-green);
}

.logo-box {
  margin-right: 2.4rem;
}
.logo {
  height: 4.5rem;
}

.title {
  font-size: 3.2rem;
  color: var(--color-green);
}