.list-header {
  display: grid;
  grid-template-columns: 4.5rem repeat(3, minmax(min-content, 1fr)) min-content;
  column-gap: 1.2rem;
  padding: 1.2rem;
  line-height: 0.5rem;
  font-size: var(--default-font-size);
  border-bottom: 2px solid var(--color-green);
  margin-bottom: 1.2rem;
}

.details {
  padding: 0 0.6rem;
  opacity: 0;
}
